<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkteam.measure_happiness">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/happy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/happy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity"/>
        <activity android:name=".view.SurveyActivity"/>
        <activity android:name=".view.AppIntroActivity"/>
        <activity android:name=".view.SignInActivity"/>
        <activity android:name=".view.SignUpActivity"/>
        <activity android:name=".view.ValueChangeActivity"/>
        <activity android:name=".view.ValueRankingActivity"/>
        <activity android:name=".view.SmileInfoActivity"/>
        <activity android:name=".view.UserInfoActivity"/>



    </application>

</manifest>